.popup__input_about-user {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-top: 30px;
    margin-bottom: 48px;
}
@media (max-width: 600px) {
    .popup__input_about-user {
        margin-bottom: 45px;
    }
}